# HeaderFilterRegex: ".*/esiot-2025/.*"
# ExcludeHeaderFilterRegex: ".*/(ServoTimer2.h|arduino_avr/|gnu/).*"
# ExcludeHeaderFilterRegex: ".*/include/gnu/.*"
FormatStyle: file
Checks:
  - clang-diagnostic-*
  - clang-analyzer-*
  - bugprone-*
  - -bugprone-easily-swappable-parameters
  - cppcoreguidelines-*
  - -cppcoreguidelines-avoid-c-arrays
  - -cppcoreguidelines-avoid-non-const-global-variables
  - -cppcoreguidelines-use-enum-class
  - -cppcoreguidelines-pro-bounds-array-to-pointer-decay
  - -cppcoreguidelines-pro-bounds-constant-array-index
  - -cppcoreguidelines-pro-type-vararg
  - -cppcoreguidelines-special-member-functions
  - misc-*
  - -misc-header-include-cycle
  - -misc-use-anonymous-namespace
  - modernize-*
  - -modernize-avoid-c-arrays
  - -modernize-deprecated-headers
  - -modernize-use-trailing-return-type
  - performance-*
  - portability-*
  - readability-*
HeaderFileExtensions:
  - h
  - hpp
ImplementationFileExtensions:
  - c
  - cpp
  - ino
