**/.cache/
**/compile_commands.json
**/.pio
**/.pio/
**/.pioenvs
**/.piolibdeps
**/CMakeLists.txt
**/sdkconfig.*
**/!sdkconfig.defaults

**/build/
**/build-dbg/

*.mp4
*.jpg

# nix and direnv
**/.pre-commit-config.yaml
**/.direnv/*
